/* Global */
@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi|Oswald');
html {
    width: 100vw;
}

.container {
    width: 100%;
}

img {
    width: 250px;
    height: 250px;
}

/* Background */
body {
    font-family: 'Oswald', sans-serif;
    background-color: #f4f4f4;
    background-image: url(../images/background3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Title */
nav.nav.justify-content-center{
    width: 100%;
    border-radius: 10px;
    margin-top: 1rem;
}

nav h1 {
    color: #f5f5f5;
    font-size: 3rem;
}

/* Game */

#game-div {
    height: 100%;
    width: auto;
    border: 1px solid #343a40;
    border-radius: 10px;
    margin-top: 3rem;
    box-shadow: 0 0 10px #343a40;
    display: flex;
    flex-direction: column;
    background-image: url(../images/background.jpg);
    background-size: cover;
}

#game-div h2 {
    text-align: center;
    margin-top: 1rem;
}

#game-div button {
    margin: 5rem auto;
    padding: 1.5rem 3rem;
    border-radius: 12px;
    font-size: 1.3rem;
}

#game-div button:hover {
    background-color: #343a40;
    color: #fff;
}

#answerChoices {
    display: flex;
    flex-direction: column;
}

input, label {
    padding: 0.7rem;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 5rem;
    margin-top: 2rem;
}

input {
    margin-left: 3rem;
}

label:hover {
    text-decoration: underline;
}

form {
    text-align: center;
}

#answer-choices {
    display: flex;
    flex-direction: column;
}

#question {
    color: rgb(231, 231, 146);
}

#submitBtn {
    width: 90%;
    margin: 20rem 3rem 3rem;
    border-radius: 12px;
    font-weight: 600;
    font-size: 1.5rem;
    border: none;
}

#submitBtn:hover {
    background-color: #343a40;
    color: #f4f4f4;
    border: none;
}

#time {
    text-align: center;
    margin-bottom: 5rem;
}

#final-div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#restart {
    width: 50%;
    margin: 3rem auto;
    border-radius: 12px;
}

#restart:hover {
    background-color: #343a40;
    color: #f4f4f4;
}